<?xml version="1.0"?>
<configuration>
<appSettings>
    <add key="pythonpath" value="D:\home\site\wwwroot\AlmondApp" />
     <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
     
</appSettings>
 
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>